<!-- Modified search.html, look at that file for more info -->
{% extends "app_base.html" %}
{% block content %}
<h3> Item Details </h3> 

<form method="POST" action="item_detail" role="form" style="max-width:400px; width:100%">
    {% if message is defined %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endif %}
    <div class="alert alert-info">Anything not inputed will not be taken into account</div>
    <div class="form-group">
      <label for="itemID">Item ID</label>
      <input type="text" class="form-control" id="itemID" name="itemID" />
    </div>
    <div><input type="submit" value="Get Details" class="btn btn-primary" /></div>
</form>
<h3>Results</h3>

<h5> Winner </h5> 
<ul>
{% if Winner %}
{% for result in Winner %}
    {% for key in result %}
        <div>
            <span>{{ key|e }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>{{ result[key]|e }}</span>
        </div>
    {% endfor %}
    <div>--------</div>
{% endfor %}
{% else %}
<div>No winner yet</div>
{% endif %}
</ul>


<h5> Item Details </h5> 
<ul>
{% if itemInfo %}
{% for result in itemInfo %}
    {% for key in result %}
        <div>
            <span>{{ key|e }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>{{ result[key]|e }}</span>
        </div>
    {% endfor %}
    <div>--------</div>
{% endfor %}
{% else %}
<div>No details</div>
{% endif %}
</ul>


<h5> Item Categories </h5> 
<ul>
{% if Categories %}
{% for result in Categories %}
    {% for key in result %}
        <div>
            <span>{{ key|e }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>{{ result[key]|e }}</span>
        </div>
    {% endfor %}
    <div>--------</div>
{% endfor %}
{% else %}
<div>No categories</div>
{% endif %}
</ul>


<h5> Item Bids </h5> 
<ul>
{% if Bids %}
{% for result in Bids %}
    {% for key in result %}
        <div>
            <span>{{ key|e }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>{{ result[key]|e }}</span>
        </div>
    {% endfor %}
    <div>--------</div>
{% endfor %}
{% else %}
<div>No bids</div>
{% endif %}
</ul>
{% endblock %}